# S&P 500 Prices Scraping

## Import Libraries

In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

## Make The Request From Yahoo Finance and Get The Table HTML

In [2]:
url = "https://finance.yahoo.com/quote/%5EGSPC/history/?period1=967593600&period2=1729288137"
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'
}
r = requests.get(url, headers=headers)

c = r.text
soup=BeautifulSoup(c, "lxml")

table = soup.find("table" , {"class":"table yf-ewueuo noDl"})

## Get The Headers of The Table

In [3]:
headers = table.find_all("th" , {"class":"yf-ewueuo"})

titles = []

for i in headers:
    titles.append(i.text.split("  ")[0])
    
df = pd.DataFrame(columns = titles)
df

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume]
Index: []

## Get The Content of The Table

In [4]:
rows_con = table.find_all("tr" , {"class":"yf-ewueuo"})
for i in rows_con[1:]:
    data = i.find_all("td" , {"class":"yf-ewueuo"})
    row = [tr.text for tr in data]
    new_row_df = pd.DataFrame([row], columns=df.columns)  # Ensure columns match
    df = pd.concat([df, new_row_df], ignore_index=True)
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,"Oct 18, 2024","5,859.43","5,872.17","5,846.11","5,864.67","5,864.67","2,157,845,000"
1,"Oct 17, 2024","5,875.62","5,878.46","5,840.25","5,841.47","5,841.47","3,480,010,000"
2,"Oct 16, 2024","5,816.58","5,846.52","5,808.34","5,842.47","5,842.47","3,467,230,000"
3,"Oct 15, 2024","5,866.74","5,870.36","5,804.48","5,815.26","5,815.26","3,882,120,000"
4,"Oct 14, 2024","5,829.81","5,871.41","5,829.57","5,859.85","5,859.85","3,005,250,000"

## Data Preprocessing

In [5]:
df.head(10)

,Date,Open,High,Low,Close,Adj Close,Volume
0,"Oct 18, 2024","5,859.43","5,872.17","5,846.11","5,864.67","5,864.67","2,157,845,000"
1,"Oct 17, 2024","5,875.62","5,878.46","5,840.25","5,841.47","5,841.47","3,480,010,000"
2,"Oct 16, 2024","5,816.58","5,846.52","5,808.34","5,842.47","5,842.47","3,467,230,000"
3,"Oct 15, 2024","5,866.74","5,870.36","5,804.48","5,815.26","5,815.26","3,882,120,000"
4,"Oct 14, 2024","5,829.81","5,871.41","5,829.57","5,859.85","5,859.85","3,005,250,000"
5,"Oct 11, 2024","5,775.09","5,822.13","5,775.09","5,815.03","5,815.03","3,208,720,000"
6,"Oct 10, 2024","5,778.36","5,795.03","5,764.76","5,780.05","5,780.05","3,208,790,000"
7,"Oct 9, 2024","5,751.80","5,796.80","5,745.02","5,792.04","5,792.04","3,650,340,000"
8,"Oct 8, 2024","5,719.14","5,757.60","5,714.56","5,751.13","5,751.13","3,393,400,000"
9,"Oct 7, 2024","5,737.80","5,739.34","5,686.85","5,695.94","5,695.94","3,637,790,000"

In [6]:
df.shape

(6072, 7)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6072 entries, 0 to 6071
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       6072 non-null   object
 1   Open       6072 non-null   object
 2   High       6072 non-null   object
 3   Low        6072 non-null   object
 4   Close      6072 non-null   object
 5   Adj Close  6072 non-null   object
 6   Volume     6072 non-null   object
dtypes: object(7)
memory usage: 332.2+ KB

## Date Format

In [8]:
df['Date'] = pd.to_datetime(df['Date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6072 entries, 0 to 6071
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       6072 non-null   datetime64[ns]
 1   Open       6072 non-null   object
 2   High       6072 non-null   object
 3   Low        6072 non-null   object
 4   Close      6072 non-null   object
 5   Adj Close  6072 non-null   object
 6   Volume     6072 non-null   object
dtypes: datetime64[ns](1), object(6)
memory usage: 332.2+ KB

## Numeric Data Format

In [9]:
numbers = df.select_dtypes(include = ["object"]).columns
numbers

Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [10]:
for col in numbers:
    df[col] = df[col].str.replace("," , "")
    df[col] = pd.to_numeric(df[col], errors='coerce')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6072 entries, 0 to 6071
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       6072 non-null   datetime64[ns]
 1   Open       6072 non-null   float64
 2   High       6072 non-null   float64
 3   Low        6072 non-null   float64
 4   Close      6072 non-null   float64
 5   Adj Close  6072 non-null   float64
 6   Volume     6072 non-null   int64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 332.2 KB

In [11]:
df.head()

        Date     Open     High      Low    Close  Adj Close      Volume
0 2024-10-18  5859.43  5872.17  5846.11  5864.67    5864.67  2157845000
1 2024-10-17  5875.62  5878.46  5840.25  5841.47    5841.47  3480010000
2 2024-10-16  5816.58  5846.52  5808.34  5842.47    5842.47  3467230000
3 2024-10-15  5866.74  5870.36  5804.48  5815.26    5815.26  3882120000
4 2024-10-14  5829.81  5871.41  5829.57  5859.85    5859.85  3005250000

# Save The Data In CSV File

In [12]:
df.to_csv("S&P500" , index=False)